/*
 * Databases - Spring 2014 - Michael Siff
 * Programming Assignment 1
 * basic.css
 *
 */

body {
	width: 46em;
	margin: 2em auto;
	font-family: Times, serif;
	font-size: 16px;
	line-height: 1.5em;
	}

h3, h4 {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
p {
	margin: 1.5em 0;
	}
pre, code {
	font-size: .75em;
	background: #FFFFBF;
	}
tt {
	font-size: .75em;
	}
pre, code {
	font-size: .75em;
	background: #FFFFBF;
	}
pre {
	border-top: 1px solid #FFFF80;
	border-bottom: 1px solid #FFFF80;
	padding: .75em;
	}

hr {
	border: none;
	border-top: 1px solid #aaa;
	}
